<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<body>
<div class="navigation-contact">
  <div class="container">
    <div class="img-navct">
      <img src="./assets/images/navbar.png" alt=""/>
    </div>
    <div class="mhder">
      <div class="row justify-content-center">
        <div class="hienthi-nav col-6">
          <div class="inner-contact">
            <ul>
              <li class="ct-items"><a href="#">Home</a></li>
              <li class="ct-none-item"></li>
              <li class="ct-items-act">Contact</li>
            </ul>
          </div>
          <h1>Contact With Us</h1>
        </div>
        <div class="hienthi-nav col-6">
          <img src="./assets/images/nav_contact.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-contact">
  <div class="container">
    <div class="stn row">
      <div class="col-8">
        <div class="contact-form">
          <h3>We would love to hear from you.</h3>
          <p>If you’ve got great products your making or looking to work with us then drop us a line.</p>
          <form id="contact-form">
            <div class="nhap-thongtin col-12">
                <div class="ipt col-4">
                  <label for="name-ct">Name: <span>*</span></label>
                  <input type="text" id="name-ct" required/>
                </div>
                <div class="ipt col-4">
                  <label for="phone-ct">Phone: <span>*</span></label>
                  <input type="text" id="phone-ct" required/>
                </div>
                <div class="ipt col-4">
                  <label for="email-ct">Email: <span>*</span></label>
                  <input type="email" id="email-ct" required/>
                </div>
            </div>
            <div class="nhap-thongtin col-12">
              <div class="tera col-12">
                <label for="text">Your Massage</label>
                <textarea id="text" required></textarea>
              </div>
            </div>
            <div class="submit-ct">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>

      <div class="menu-right col-4">
        <div class="location-ct">
          <h4>Our Store</h4>
          <span>8A, Ton That Thuyet, Nam Tu Liem, Ha Noi</span><br>
          <span>Phone: +123 456 7890</span><br>
          <span>Email: CodeOneMin@gmail.com</span>
        </div>
        <div class="career-ct">
          <h4>Careers</h4>
          <span>Instead of buying six things, one that you really like.</span>
        </div>
        <div class="opening-ct">
          <h4>Opening Hours: </h4>
          <span>Monday to Saturday: 9am - 10pm</span><br>
          <span>Sundays: 10am - 6pm</span>
        </div>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.096608933641!2d105.78229669999999!3d21.0288201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab86cece9ac1%3A0xa9bc04e04602dd85!2zRlBUIEFwdGVjaCBIw6AgTuG7mWkgLSBI4buHIFRo4buRbmcgxJDDoG8gVOG6oW8gTOG6rXAgVHLDrG5oIFZpw6puIFF14buRYyBU4bq_IChTaW5jZSAxOTk5KQ!5e0!3m2!1svi!2s!4v1670412742820!5m2!1svi!2s" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
</body>
