<!--<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>-->
<!--<div class="section-dangnhap">-->
<!--  <div class="container">-->
<!--    <div class="dangnhap-header">-->
<!--      <div class="row align-items-center">-->
<!--        <div class="col-4">-->
<!--          <a href="#"><i class='bx bxs-shopping-bag'></i> Welcome to COM Electronic</a>-->
<!--        </div>-->
<!--        <div class="col-8">-->
<!--          <div class="nut-dangky">-->
<!--            <p>Not a member?</p>-->
<!--            <a href="#">Register Now</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="dn-left col-xl-4">-->
<!--          <div class="banner-dn">-->
<!--            <img src="assets/images/banner-dn.jpg" alt="" />-->
<!--            <h3>We Offer the Best Products</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-dn col-4">-->
<!--            <div class="bao-form">-->
<!--              <div class="text-dn">-->
<!--                <h3>Sign in to COM Electronic.</h3>-->
<!--                <p>Enter your detail below</p>-->
<!--                <form class="nhap-tt">-->
<!--                  <div class="form-gruop-4">-->
<!--                    <label>Email</label>-->
<!--                    <input type="email" class="form-control4" name="email" required placeholder="CodeOneMin@gmail.com"/>-->
<!--                  </div>-->
<!--                  <div class="form-gruop-4">-->
<!--                    <label>Password</label>-->
<!--                    <input type="password" class="form-control4" name="password" required placeholder="******"/>-->
<!--                  </div>-->
<!--                  <div class="btn-submit4">-->
<!--                    <button type="submit">Login</button>-->
<!--                    <a class="qmk" href="#">Forgot password?</a>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>
<div class="section-dangnhap">
  <div class="container">
    <div class="imgdn-left row">
      <div class="banner-img col-4">
        <img src="assets/images/banner-dk.jpg" alt="" />
      </div>
      <div class="form-dnhap col-4">
        <div class="txt-dnhap">
          <h3>I'm New Here.</h3>
          <p>Enter your detail below</p>
          <form>
            <div class="f-group">
              <label>User Name</label>
              <input type="text" required placeholder="mario@@"/>
            </div>
            <div class="f-group">
              <label>Email</label>
              <input type="email" required placeholder="CodeOneMin@gmail.com"/>
            </div>
            <div class="f-group">
              <label>Password</label>
              <input type="password" required placeholder="******"/>
            </div>
            <div class="btn-sb">
              <button type="submit">Create Account</button>
            </div>
          </form>
        </div>
      </div>
      <div class="dky-right col-2">
        <p>Not a member?</p>
        <a href="#">Sign In</a>
      </div>
    </div>
  </div>
</div>
</body>
