<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>
<div class="section-dangnhap">
  <div class="container">
    <div class="imgdn-left row">
      <div class="banner-img col-4">
        <img src="assets/images/banner-dn.jpg" alt="" />
      </div>
      <div class="form-dnhap col-4">
        <div class="txt-dnhap">
          <h3>Sign in to COM Electronic.</h3>
          <p>Enter your detail below</p>
          <form>
            <div class="f-group">
              <label>Email</label>
              <input type="email" required placeholder="CodeOneMin@gmail.com"/>
            </div>
            <div class="f-group">
              <label>Password</label>
              <input type="password" required placeholder="******"/>
            </div>
            <div class="btn-sb">
              <button type="submit">Sign In</button>
              <a href="#">Forgot password?</a>
            </div>
          </form>
        </div>
      </div>
      <div class="dky-right col-2">
        <p>Not a member?</p>
        <a href="#">Sign Up Now</a>
      </div>
    </div>
  </div>
</div>
</body>
